<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--引用头部部分-->
<head th:replace="share/common::head('Alb_Blog')"></head>
<body>

<!--提取公共导航栏-->
<div th:replace="share/common::menu(1)"></div>

<!--提取公共顶部-->
<div th:replace="share/common::topInfo"></div>



<!--最新推荐-->
<div class="ui m-padded-tb-large">
    <div class="ui m-container-small m-opacity">
        <div class="ui secondary segment " align="center">
            <i class="bookmark icon"></i>最新推荐
        </div>
    </div>
    <div class="ui stackable m-container-mini m-opacity grid">
        <div class="m-margin-tb-tiny four wide column" th:each="recommendBlog:${recommendBlogs}">
            <a submit_url="/blog/detail?id=" th:id="${recommendBlog.id}" onclick="btn_get_submit(this)" class="class_outer" target="_blank" style="cursor: pointer">
                <img src="../static/images/backimg1.jpg" th:src="@{${recommendBlog.image}}" alt="" class="ui rounded image">
                <span class="class_cover" >
                     <h4 class="m-font-size-blog-text m-margin-tb-tiny" th:text="${recommendBlog.title}"></h4>
                </span>
            </a>
        </div>
    </div>
</div>


<!--中间内容-->
<form id="form1" th:action="@{/}" th:model_path="@{/}" method="post">
<div class="m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--博客内容-->
            <div class="ui vertical segment">
                <div class="ui m-container-small m-opacity">
                    <div class="ui secondary segment " align="center">
                        <i class="bookmark icon"></i>最新文章
                    </div>
                </div>
                <!--博文列表-->
                <div class="ui padded segment m-padded-tb-large m-opacity" th:each="blog:${pager.datas}">
                    <div class="ui large aligned mobile reversed stackable grid">
                        <!--博文信息-->
                        <div class="eleven wide column ">
                            <h3 class="ui header" ><a submit_url="/blog/detail?id=" th:id="${blog.id}" onclick="btn_get_submit(this)" target="_blank" class="m-black" th:text="${blog.title}" style="cursor: pointer"></a></h3>
                            <p class="m-text m-margin-top-max" th:text="${blog.description} + '......'"></p>
                            <div class="ui m-margin-top-max grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img th:src="@{images/me.jpg}"  alt="" class="ui avatar image">
                                            <div class="content"><a th:href="@{about}" target="_blank" class="header" >Albert</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#strings.substring(blog.createTime,0,10)}"></span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.viewsNum}"></span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i> <span th:text="${blog.sumComment}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" th:text="${blog.category.catName}" class="ui teal basic label m-padded-tiny m-text-thin"></a>
                                </div>
                            </div>
                        </div>
                        <!--博文图片-->
                        <div class="five wide column">
                            <a submit_url="/blog/detail?id=" th:id="${blog.id}" onclick="btn_get_submit(this)" target="_blank" style="cursor: pointer">
                                <img th:src="@{${blog.image}}" alt="" class="ui rounded image">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <!--分页-->
            <div class="ui bottom attached segment m-opacity stackable grid">
                <div class="three wide column" align="center">
                    <a class="item" onclick="split_submit(this)" th:page="${pager.pre}" style="cursor: pointer">上一页</a>
                </div>

                <div class="ten wide column" align="center">
                    <p> <span th:text="${pager.page}"></span> / <span th:text="${pager.pages}"></span> </p>
                </div>

                <div class="three wide column" align="center">
                    <a class="item" onclick="split_submit(this)" th:page="${pager.next}" style="cursor: pointer">下一页</a>
                </div>
            </div>

        </div>
    </div>

</div>
</form>

<!--置顶图标-->
<div class="m-padded-tb-large m-fixed m-right-bottom">
    <a href="#" class="ui icon button"><i class="chevron up icon"></i> </a>
</div>



<br>
<br>
<br>
<!--引用公共底部栏-->
<div th:replace="share/common::footer"></div>

<!--引用公共JS资源-->
<div th:replace="share/common::js_resources"></div>
</body>
</html>